@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* フォントの設定 */
/* コードブロック */
code,
code span {
    font-family: 'Source Code Pro', monospace;
}

/* postのcover画像の設定 */
figure.entry-cover img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
}

/* 目次 */
.toc li {
    list-style: none;
}

/* 記事の上下の余白 */
.post-content {
    margin-bottom: 25vh;
}

/* 記事内のヘッダー(hタグ)に関する設定 */
.post-content h2 {
    margin-top: 20vh;
}

.post-content h3 {
    margin-top: 10vh;
}
